body{
    font-family: 'Righteous' cursive;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c9abe;       
    color: white; 
}
.logo{
    width: 8em;
    height: 5em;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 20em;
}
.header-derecha{
    width: 15em;  
}
img{
    width: 100%;
    height: 100%;
}
.bloque{
    background-color: #c8c8c8;
    display: inline-flex;
    width: 104em;
    padding: 3em 1em 3em 3em;
    
}
.inf-text{
    width: 60em;
    margin: 0 auto;
}
.inf-img{
    width: 40em;
    border: 1em white solid;
    margin: 0 auto;
}