@media screen and (min-width: 992px) {
    body {
        background: radial-gradient(white 45em, #cb001e);
        width: 90vw;
        margin: 0 auto;
        padding-bottom: 5em;
    }

    header {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    .logo {
        width: 8em;
    }

    nav {
        display: inline-flex;
        width: 25em;
        justify-content: space-between;
        margin-right: 5em;
        color: #cb001e;
        font-weight: bold;
    }

    .portada {
        height: 17em;
    }

    h1 {
        text-align: center;
        color: #cb001e;
    }

    h2 {
        color: #cb001e;
    }

    .cleche {
        display: inline-flex;
        background-color: white;
        border: 0.2em solid #cb001e;
        margin-bottom: 2em;
        height: 13em;
    }

    .cleche-text {
        width: 65%;
        padding: 0em 5em;
        text-align: left;
    }

    .cleche-text > p {
        text-align: justify;
    }

    .cleche-img {
        width: 35%;
    }

    .cjungly {
        display: inline-flex;
        background-color: white;
        border: 0.2em solid #cb001e;
        margin: 2em 0em;
        height: 13em;
    }

    .cjungly-text {
        width: 65%;
        padding: 0em 5em;
        text-align: left;
    }

    .cjungly-text > p {
        text-align: justify;
    }

    .cjungly-img {
        width: 35%;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        /*
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        grid-auto-rows: 22rem;
        */
    }

    .img-galeria {
        height: 15em;
    }

    .featured {
        grid-column: span 2;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    body {
        width: 90vw;
        margin: 0 auto;
        padding-bottom: 5em;
    }

    header {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    .logo {
        width: 8em;
    }

    nav {
        display: inline-flex;
        width: 20em;
        justify-content: space-between;
        margin-right: 2em;
        color: #cb001e;
        font-weight: bold;
    }

    .portada {
        height: 17em;
    }

    h1 {
        text-align: center;
        color: #cb001e;
    }

    h2 {
        color: #cb001e;
    }

    .cleche {
        background-color: white;
        border: 0.2em solid #cb001e;
        margin-bottom: 2em;
    }

    .cleche-text {
        padding: 0em 5em;
        text-align: left;
    }

    .cleche-text > p {
        text-align: justify;
    }

    .cleche-img {
        padding: 0em 5em;
        margin: 0 auto;
    }

    .cjungly {
        background-color: white;
        border: 0.2em solid #cb001e;
        margin: 2em 0em;
    }

    .cjungly-text {
        padding: 0em 5em;
        text-align: left;
    }

    .cjungly-text > p {
        text-align: justify;
    }

    .cjungly-img {
        padding: 0em 5em;
        margin: 0 auto;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

    .img-galeria {
        height: 15em;
    }

    .featured {
        grid-column: span 2;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 576px){
    body {
        background: radial-gradient(white 35em, #cb001e);
        width: 90vw;
        margin: 0 auto;
        padding-bottom: 5em;
    }

    header {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    .logo {
        width: 8em;
    }

    nav {
        display: inline-flex;
        width: 17em;
        justify-content: space-between;
        color: #cb001e;
        font-weight: bold;
    }

    .portada {
        height: 17em;
    }

    h1 {
        text-align: center;
        color: #cb001e;
    }

    h2 {
        color: #cb001e;
    }

    .cleche {
        background-color: white;
        border: 0.2em solid #cb001e;
        margin-bottom: 2em;
    }

    .cleche-text {
        padding: 0em 5em;
        text-align: left;
    }

    .cleche-text > p {
        text-align: justify;
    }

    .cleche-img {
        padding: 0em 5em;
        margin: 0 auto;
    }

    .cjungly {
        background-color: white;
        border: 0.2em solid #cb001e;
        margin: 2em 0em;
    }

    .cjungly-text {
        padding: 0em 5em;
        text-align: left;
    }

    .cjungly-text > p {
        text-align: justify;
    }

    .cjungly-img {
        padding: 0em 5em;
        margin: 0 auto;
    }


    .img-galeria {
        height: 15em;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}